body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
    width:1000px;
    margin-left: 150px;
    padding: 0 auto;
    background-color:cornflowerblue ;
}

h1 {
    color: rgb(0, 17, 17);
    background-color: antiquewhite;
    text-align: center;
    border-radius: 20px;
}
p {
    font-size: 30px;
    background-color:cadetblue;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}
